<!DOCTYPEhtml>
<html>
  <head>
    <metacharset="UTF8">
    <title>Vue.js ToDoApp</title>
    <linkrel="stylesheet"href="style.css">
    <script
      src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js">
    </script>
  </head>

  <body>
    <div id="app">
      <div v-for="(item,index) in langList">
        <label>
          <input type="checkbox" v-model="item.check">
          <span v-bind:class="{donestyle:item.check}">{{ item.lang }} </span>
          <button v-on:click="removeItem(index)">削除</button>
        </label>
      </div>


      <input type="text" v-model.trim="addItem" placeholder="追加アイテムを入力" v-on:keyup.enter="addList">
      <p>{{ remaining }} / {{ langList.length }}件処理する</p>

      <select v-model="selectedKey" v-on:change="selected">
        <option v-for="(value, key) in items">
            {{ key }}
        </option>
    </select>
    <span>を</span>
    <select>
        <option v-if="selectedItem" v-for="(item,index) in selectedItem">
            {{ item.times }}
        </option>
    </select>
    <span>分</span>
    <button v-on:click="post">勉強したぜ！</button>

    <p>{{ selectedKey }}</p>
    <p>{{ selectedItem }}</p>

    </div>


    <style>
      .donestyle {
        text-decoration: line-through;
        color: lightgray;
      }
    </style>

    <script>

      var timesOptions = [
        { times: 30 },
        { times: 60 },
        { times: 90 },
      ]

      new Vue ({
        el: "#app",
        data: {
          addItem: "",
          langList: [
            {check: false, lang: "HTML",times: 0},
            {check: false, lang: "CSS", times: 0},
            {check: false, lang: "javascript",times: 0}
          ],

        selectedKey: '',
        selectedItem:'',
        items: {
          Html: timesOptions,
          Css: timesOptions,
          Javascript: timesOptions,
          Ruby: timesOptions
          }
        },

        computed: {
          remaining: function() {
            return this.langList.filter(function(val) {
            // todolistの配列内でdone属性がtrueの要素数を取得
              return val.done;
            }).length;
          }
        },

        methods: {
          addList: function() {
            this.langList.push({check: false,lang: this.addItem});
            this.addtext = "";
          },
          removeItem: function(idx) {
            this.langList.splice(idx,1);
          },
          selected: function(){
            this.selectedItem = this.items[this.selectedKey];
          },

          post: function(key) {
            alert(key);

            // <!-- ①dataArrayとしてセットされたorgdataオブジェクト内のval(配列要素)を変数objに取り出す -->
            // var obj = this.langList[val];
            //
            // <!-- ②obj(配列)の第2引数に1を追加 -->
            // obj[1]++;
            // <!-- ③本来のdataArray[val]を指定し、追加したobj(配列)の値と差し替える -->
            // this.dataArray.splice(val, 1, obj);
            // <!-- ④chartを再描画する -->
            // drawBasic();
            this.langlist.push(idx,0)
          }
        }
      })
    </script>
  </body>
